<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <header th:replace="~{fragments/header :: header}"></header>
    <body>
        <!-- page container -->
        <div class="page-container">
            
            <!-- page header -->
            <div class="page-header">
                
                <!-- page header holder -->
                <div class="page-header-holder">
                    
                    <!-- page logo -->
                    <div class="logo">
                        <a th:href="@{/}">ThinkerHouse</a>
                    </div>
                    <!-- ./page logo -->
                    

                    <!-- search -->
                    <div th:replace="~{fragments/header :: search}"></div>
                    <!-- ./search -->

                    <!-- nav mobile bars -->
                    <div class="navigation-toggle">
                        <div class="navigation-toggle-button"><span class="fa fa-bars"></span></div>
                    </div>
                    <!-- ./nav mobile bars -->
                    
                    <!-- navigation -->
                    <ul th:replace="~{fragments/header :: navigation}"></ul>
                    <!-- ./navigation -->                        

                    
                </div>
                <!-- ./page header holder -->
                
            </div>
            <!-- ./page header -->
            
            <!-- page content -->
            <div class="page-content">
                
                
                <!-- revolution slider -->

<div class="banner-container">
                    <div class="banner">

                        <ul>
                            <li data-transition="fade" data-slotamount="1" data-masterspeed="500"  data-saveperformance="on">
                                <img src="img/backgrounds/cbg_2.jpg" />
                            </li>
                            
                            <!-- video 1 start  -->
                                                        
                            <li data-transition="fade" data-slotamount="1" data-masterspeed="700" >
                                <img src="assets/video/coding_cover.jpg"  alt="coding_cover"  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">                                
                                
                                <div class="tp-caption tp-fade fadeout fullscreenvideo"
                                    data-x="0"
                                    data-y="0"
                                    data-speed="1000"
                                    data-start="1100"
                                    data-easing="Power4.easeOut"
                                    data-elementdelay="0.01"
                                    data-endelementdelay="0.1"fa fa-chalk
                                    data-endeasing="Power4.easeIn"
                                    data-autoplay="true"
                                    data-autoplayonlyfirsttime="false"
                                    data-nextslideatend="true"
                                    data-volume="mute" data-forceCover="1" data-aspectratio="16:9" data-forcerewind="on" style="z-index: 2;">

                                    <video class="" preload="none" width="100%" height="100%" poster="assets/video/video_typing_cover.jpg"> 
                                        <source src='assets/video/computer_typing.mp4' type='video/mp4'/>
                                        <source src='assets/video/computer_typing.webm' type='video/webm'/>
                                    </video>
                                </div>
                                
                                <div class="tp-caption customin ltl"
                                        data-x="600"
                                        data-y="280" 
                                        data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                                        data-speed="500"
                                        data-start="1500"
                                        data-easing="Power4.easeInOut"
                                        data-splitin="none"
                                        data-splitout="none"
                                        data-elementdelay="0.01"
                                        data-endelementdelay="0.1"
                                        data-endspeed="1000"
                                        data-endeasing="Power4.easeIn"
                                        style="z-index: 3;">
                                        <img src="assets/slider-layers/second_1.png"/>
                                </div>                                
                                
                                <div class="tp-caption customin ltl"
                                        data-x="600"
                                        data-y="320" 
                                        data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                                        data-speed="500"
                                        data-start="1700"
                                        data-easing="Power4.easeInOut"
                                        data-splitin="none"
                                        data-splitout="none"
                                        data-elementdelay="0.01"
                                        data-endelementdelay="0.1"
                                        data-endspeed="1000"
                                        data-endeasing="Power4.easeIn"
                                        style="z-index: 3;">
                                        <img src="assets/slider-layers/second_2.png"/>
                                </div>
                                
                                <div class="tp-caption customin ltl"
                                        data-x="600"
                                        data-y="362" 
                                        data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                                        data-speed="500"
                                        data-start="1900"
                                        data-easing="Power4.easeInOut"
                                        data-splitin="none"
                                        data-splitout="none"
                                        data-elementdelay="0.01"
                                        data-endelementdelay="0.1"
                                        data-endspeed="1000"
                                        data-endeasing="Power4.easeIn"
                                        style="z-index: 3;">
                                        <img src="assets/slider-layers/second_3.png"/>
                                </div>
                                
                                <div class="tp-caption customin ltl"
                                        data-x="600"
                                        data-y="404" 
                                        data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                                        data-speed="500"
                                        data-start="2100"
                                        data-easing="Power4.easeInOut"
                                        data-splitin="none"
                                        data-splitout="none"
                                        data-elementdelay="0.01"
                                        data-endelementdelay="0.1"
                                        data-endspeed="1000"
                                        data-endeasing="Power4.easeIn"
                                        style="z-index: 3;">
                                        <img src="assets/slider-layers/second_4.png"/>
                                </div>
                                
                                <div class="tp-caption customin ltl"
                                        data-x="600"
                                        data-y="446" 
                                        data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                                        data-speed="500"
                                        data-start="2200"
                                        data-easing="Power4.easeInOut"
                                        data-splitin="none"
                                        data-splitout="none"
                                        data-elementdelay="0.01"
                                        data-endelementdelay="0.1"
                                        data-endspeed="1000"
                                        data-endeasing="Power4.easeIn"
                                        style="z-index: 3;">
                                        <img src="assets/slider-layers/second_5.png"/>
                                </div>
                                
                                <div class="tp-caption customin ltl"
                                        data-x="600"
                                        data-y="488" 
                                        data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                                        data-speed="500"
                                        data-start="2400"
                                        data-easing="Power4.easeInOut"
                                        data-splitin="none"
                                        data-splitout="none"
                                        data-elementdelay="0.01"
                                        data-endelementdelay="0.1"
                                        data-endspeed="1000"
                                        data-endeasing="Power4.easeIn"
                                        style="z-index: 3;">
                                        <img src="assets/slider-layers/second_6.png"/>
                                </div>
                                
                            </li>

                            <!-- video 1 end  -->

                            <li data-transition="fade" data-slotamount="1" data-masterspeed="500"  data-saveperformance="on">
                                <img src="img/backgrounds/mobile_app.jpg" />
                            </li>

                            <!-- video 2 start  -->
                            <li data-transition="fade" data-slotamount="1" data-masterspeed="700" >
                                <img src="assets/video/networking_cover.jpg"  alt="networking_cover"  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">                                
                                
                                <div class="tp-caption tp-fade fadeout fullscreenvideo"
                                    data-x="0"
                                    data-y="0"
                                    data-speed="1000"
                                    data-start="1100"
                                    data-easing="Power4.easeOut"
                                    data-elementdelay="0.01"
                                    data-endelementdelay="0.1"fa fa-chalk
                                    data-endeasing="Power4.easeIn"
                                    data-autoplay="true"
                                    data-autoplayonlyfirsttime="false"
                                    data-nextslideatend="true"
                                    data-volume="mute" data-forceCover="1" data-aspectratio="16:9" data-forcerewind="on" style="z-index: 2;">

                                    <video class="" preload="none" width="100%" height="100%" poster="assets/video/video_typing_cover.jpg"> 
                                        <source src='assets/video/networking.mp4' type='video/mp4'/>
                                        <source src='assets/video/networking.webm' type='video/webm'/>
                                    </video>
                                </div>
                                
                                <div class="tp-caption customin ltl"
                                        data-x="600"
                                        data-y="280" 
                                        data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                                        data-speed="500"
                                        data-start="1500"
                                        data-easing="Power4.easeInOut"
                                        data-splitin="none"
                                        data-splitout="none"
                                        data-elementdelay="0.01"
                                        data-endelementdelay="0.1"
                                        data-endspeed="1000"
                                        data-endeasing="Power4.easeIn"
                                        style="z-index: 3;">
                                        <img src="assets/slider-layers/second_1.png"/>
                                </div>                                
                                
                                <div class="tp-caption customin ltl"
                                        data-x="600"
                                        data-y="320" 
                                        data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                                        data-speed="500"
                                        data-start="1700"
                                        data-easing="Power4.easeInOut"
                                        data-splitin="none"
                                        data-splitout="none"
                                        data-elementdelay="0.01"
                                        data-endelementdelay="0.1"
                                        data-endspeed="1000"
                                        data-endeasing="Power4.easeIn"
                                        style="z-index: 3;">
                                        <img src="assets/slider-layers/second_2.png"/>
                                </div>
                                
                                <div class="tp-caption customin ltl"
                                        data-x="600"
                                        data-y="362" 
                                        data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                                        data-speed="500"
                                        data-start="1900"
                                        data-easing="Power4.easeInOut"
                                        data-splitin="none"
                                        data-splitout="none"
                                        data-elementdelay="0.01"
                                        data-endelementdelay="0.1"
                                        data-endspeed="1000"
                                        data-endeasing="Power4.easeIn"
                                        style="z-index: 3;">
                                        <img src="assets/slider-layers/second_3.png"/>
                                </div>
                                
                                <div class="tp-caption customin ltl"
                                        data-x="600"
                                        data-y="404" 
                                        data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                                        data-speed="500"
                                        data-start="2100"
                                        data-easing="Power4.easeInOut"
                                        data-splitin="none"
                                        data-splitout="none"
                                        data-elementdelay="0.01"
                                        data-endelementdelay="0.1"
                                        data-endspeed="1000"
                                        data-endeasing="Power4.easeIn"
                                        style="z-index: 3;">
                                        <img src="assets/slider-layers/second_4.png"/>
                                </div>
                                
                                <div class="tp-caption customin ltl"
                                        data-x="600"
                                        data-y="446" 
                                        data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                                        data-speed="500"
                                        data-start="2200"
                                        data-easing="Power4.easeInOut"
                                        data-splitin="none"
                                        data-splitout="none"
                                        data-elementdelay="0.01"
                                        data-endelementdelay="0.1"
                                        data-endspeed="1000"
                                        data-endeasing="Power4.easeIn"
                                        style="z-index: 3;">
                                        <img src="assets/slider-layers/second_5.png"/>
                                </div>
                                
                                <div class="tp-caption customin ltl"
                                        data-x="600"
                                        data-y="488" 
                                        data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                                        data-speed="500"
                                        data-start="2400"
                                        data-easing="Power4.easeInOut"
                                        data-splitin="none"
                                        data-splitout="none"
                                        data-elementdelay="0.01"
                                        data-endelementdelay="0.1"
                                        data-endspeed="1000"
                                        data-endeasing="Power4.easeIn"
                                        style="z-index: 3;">
                                        <img src="assets/slider-layers/second_6.png"/>
                                </div>
                                
                            </li>
                            <!-- video 2 end  -->

                        </ul>
                        
                    </div>
                </div>                        
                <!-- ./revolution slider -->                        
                
                <!-- page content wrapper -->
                <div class="page-content-wrap bg-light">
                    <!-- page content holder -->
                    <div class="page-content-holder padding-v-20">                    
                    </div>
                    <!-- ./page content holder -->
                </div>
                <!-- ./page content wrapper -->                        

                <!-- page content wrapper -->
                <div class="page-content-wrap bg-img-1">

                    <div class="divider"><div class="box"><span class="fa fa-angle-down"></span></div></div>                    
                    
                    <!-- page content holder -->
                    <div class="page-content-holder">
                        
                        <div class="row">
                            <div class="col-md-8 this-animate" data-animate="fadeInLeft">
                                
                                <div class="block-heading block-heading-centralized">
                                    <h2 class="heading-underline">Dig Into Our Service</h2>
                                    <div class="block-heading-text" id="paragraph">
                                        Today we cant thing without technologies, cause automation and globalization are century-old stories. And now technology is advancing with each other. As if we have a technology menu card in our hands, we are constantly thinking about which one to leave and which one to take. In this case, we are here to assist you with the services that we believe will accelerate your business management.
                                    </div>
                                </div>
                                <div class="block this-animate" data-animate="fadeInLeft">
                                    <img src="assets/atlant_technologies.png" class="img-responsive"/>
                                </div>
                            </div>
                            <div class="col-md-4 this-animate text-center" data-animate="fadeInRight">
                                <img src="assets/atlant_responsive.png" class="img-responsive-mobile"/>
                            </div>
                        </div>
                        
                        
                        
                    </div>
                    <!-- ./page content holder -->
                </div>
                <!-- ./page content wrapper -->                
                
                <!-- page content wrapper -->
                <div class="page-content-wrap bg-texture-1 bg-dark light-elements">
                    
                    <div class="divider"><div class="box"><span class="fa fa-angle-down"></span></div></div>
                    
                    <!-- page content holder -->
                    <div class="page-content-holder">
                        <div class="block-heading block-heading-centralized">
                            <h2 class="heading-underline">WHY WE ARE YOUR PREMIER CHOICE?</h2>
                        </div>
                        <div class="row">
                            
                            <div class="col-md-3">                                
                                <div class="text-column text-column-centralized tex-column-icon-lg this-animate" data-animate="fadeInLeft">
                                    <div class="text-column-icon">
                                        <span class="fa fa-support"></span>
                                    </div>
                                    <h4>Intellect & Experience</h4>
                                    <div class="text-column-info" id="paragraph">
                                        Highly skilled professionals who possess expertise in diverse Business and Technology areas make up the Thinker House team. To provide world class service, we employ the best technicians, adhere to proven methodology, provide superior client service and become a true business partner in every project.
                                    </div>
                                </div>                                
                            </div>
                            
                            <div class="col-md-3">                                
                                <div class="text-column text-column-centralized tex-column-icon-lg this-animate" data-animate="fadeInUp">
                                    <div class="text-column-icon">
                                        <span class="fa fa-expand"></span>
                                    </div>
                                    <h4>Commitment to quality</h4>
                                    <div class="text-column-info" id="paragraph">
                                        We believe in Quality service and our approach has been designed to provide the same. We listen carefully to our clients and provide space, time and materials according to agreement for the project. We are proud of our Technical and Creative capability and this emerges from taking time to get it right. Our Quality Assurance Department tests throughout the process to ensure that the project will be successful.
                                    </div>
                                </div>                                
                            </div>
                            
                            <div class="col-md-3">                                
                                <div class="text-column text-column-centralized tex-column-icon-lg this-animate" data-animate="fadeInRight">
                                    <div class="text-column-icon">
                                        <span class="fa fa-clock-o"></span>
                                    </div>
                                    <h4>Professional Time management</h4>
                                    <div class="text-column-info" id="paragraph">
                                        We invest the time up-front to clearly understand your needs and then manage projects to ensure
they are delivered on time and within budget. This methodology expedites rapid successful implementation, limits uncertainty and keeps the customer always aware of development progress at our end.
                                    </div>
                                </div>                                
                            </div>

                            <div class="col-md-3">                                
                                <div class="text-column text-column-centralized tex-column-icon-lg this-animate" data-animate="fadeInRight">
                                    <div class="text-column-icon">
                                        <span class="fa fa-money"></span>
                                    </div>
                                    <h4>Competitive Pricing</h4>
                                    <div class="text-column-info" id="paragraph">
                                        We render services to our clients at a very competitive price and depending on the type of client engagement we offer them the most suitable pricing model structure which could either be fixed price based, time and effort based or a dedicated offshore team model.
                                    </div>
                                </div>                                
                            </div>
                            
                        </div>
                        
                    </div>
                    <!-- ./page content holder -->
                </div>
                <!-- ./page content wrapper -->

                <!-- page content wrapper -->                
                <div class="page-content-wrap bg-light bg-texture-1">
                    
                    <div class="divider"><div class="box"><span class="fa fa-angle-down"></span></div></div>                    
                    


                    <!-- page content holder -->
                    <div class="page-content-holder">                        
                        <div class="row">
                            <div class="block-heading block-heading-centralized">
                                <h2 class="heading-underline">Which Service You Looking For?</h2>
                            </div>
                            <div class="col-md-4">                                
                                <div class="text-column text-column-centralized this-animate" data-animate="fadeInLeft">
                                    <div class="text-column-icon">
                                        <span class="fa fa-cogs"></span>
                                    </div>
                                    <h4>Technology</h4>
                                    <div class="text-column-info" id="paragraph">
                                        We render services to our clients at a very competitive price and depending on the type of client engagement we offer them the most suitable pricing model structure which could either be fixed price based, time and effort based or a dedicated offshore team model.
                                    </div>
                                </div>                                
                            </div>
                            
                            <div class="col-md-4">                                
                                <div class="text-column text-column-centralized this-animate" data-animate="fadeInUp">
                                    <div class="text-column-icon">
                                        <span class="fa fa-film"></span>
                                    </div>
                                    <h4>Creative</h4>
                                    <div class="text-column-info" id="paragraph">
                                        We render services to our clients at a very competitive price and depending on the type of client engagement we offer them the most suitable pricing model structure which could either be fixed price based, time and effort based or a dedicated offshore team model.
                                    </div>
                                </div>                                
                            </div>
                            
                            <div class="col-md-4">                                
                                <div class="text-column text-column-centralized this-animate" data-animate="fadeInRight">
                                    <div class="text-column-icon">
                                        <span class="fa fa-external-link-square"></span>
                                    </div>
                                    <h4>Consultancy</h4>
                                    <div class="text-column-info" id="paragraph">
                                        We render services to our clients at a very competitive price and depending on the type of client engagement we offer them the most suitable pricing model structure which could either be fixed price based, time and effort based or a dedicated offshore team model.
                                    </div>
                                </div>                                
                            </div>
                            
                        </div>                          
                    </div>
                    <!-- ./page content holder -->
                </div>
                <!-- ./page content wrapper -->                    
                                    
                <!-- page content wrapper -->
                <!-- ./page content wrapper -->
            </div>
            <!-- ./page content -->
            
            <!-- page footer -->
            <div th:replace="~{fragments/footer::footer}"></div>
            <!-- ./page footer -->
            
        </div>        
        <!-- ./page container -->
<div th:replace="~{fragments/footer::footerscript}"></div>
    </body>
</html>






